:root{
    --board-background: url('../assets/diamond-plate.jpg');
    --hover: rgb(209, 233, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* Set the svg background to fill screen*/
    height: 100vh;
    background-image: url('../assets/waves.jpg');
    background-size: cover;

    /* set background color behind the waves svg*/
    background-color: whitesmoke;
    
    /* set header above content section */
    display: flex;
    flex-direction: column;
}
.header{
    /* sets header to fill 100% width and 20% of the total
    screen height*/
    height: 20%;

    /* position header text */
    display: flex;
    justify-content: center;
    align-items: center;

    /* change font size */
    font-size: 70px;
}
.header img{
    /* sets title image instead of using src in index.html */
    content:url("../assets/title.png");
}
.content{
    /* sets the content to fill 100% of the remaining space */
    flex-grow: 1;

    /* positions the content elements to be player || content || cpu */
    display: flex;
    justify-content: space-around;
}
.player{
    /* sets each player to fill 100% of the remaining space */
    flex-grow: 1;

    /* sets the player title above the player board */
    display: flex;
    flex-direction: column;
}
.player .title{
    /* Sets the background color for the title div*/
    background-image: var(--board-background);
    background-size: cover;

    /* sets the title to be 100% width and 10% player div height */
    height: 10%;

    /* sets the margin to 50px */
    margin: 50px;

    /* sets padding to 20px */
    padding: 20px;

    /* sets border */
    border: 4px solid black;
    border-radius: 20px;

    /* positions title */
    display: flex;
    justify-content: center;
    align-items: center;

    /* font color and size */
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}
.player .board{
    /* fills the remaining space with the game board */
    flex-grow: 1;

    /* sets a margin for the game board */
    margin: 50px;

    /* sets padding to 20px */
    padding: 20px;
    
    /* sets board background color */
    background-image: var(--board-background);
    background-size: cover;

    /* sets border */
    border: 4px solid black;
    border-radius: 20px;
}
.player .row{
    
}
.player .space{
    border: 1px solid black;
}

.content-center{
    /* sets the background color */
    background-image: var(--board-background);
    background-size: cover;

    /* sets the border style */
    border: 4px solid black;
    border-radius: 20px;
    /* sets the content-center */
    width: 10%;

    /* sets padding */
    padding: 20px;
    
    /* sets margin to match the player board sections */
    margin-top: 10%;
    margin: 50px;
    /* positions elements in the center*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.content-center .content-alerts{
    /* sets background */
    background-color: aliceblue;

    /* sets border */
    border: 2px solid black;
    border-radius: 5px;
    
    /* align text to the center */
    text-align: center;
}

.content-center .new-game{
    /* sets background */
    background-color: aliceblue;

    /* sets border */
    border: 2px solid black;
    border-radius: 5px;

    /* sets button dimensions */
    height: 7%;
    width: 60%;
}
.content-center .new-game:hover{
    background-color: var(--hover);
}