:root{
    --board-background: url('../assets/diamond-plate.jpg');
    --hover: rgb(182, 182, 182);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* Set the svg background to fill screen*/
    background-image: url('../assets/waves.jpg');
    background-size: cover;

    /* set background color behind the waves svg*/
    background-color: whitesmoke;
    
    /* set header above content section */
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    /* sets header to fill 100% width and 20% of the total
    screen height*/
    height: 20%;

    /* position header text */
    display: flex;
    justify-content: center;
    align-items: center;

    /* change font size */
    font-size: 70px;
}
.header img{
    /* sets title image instead of using src in index.html */
    content:url("../assets/title.png");
    width: 50%;
    max-width: 500px;
}
.content{
    height: 100%;
    /* positions the content elements to be player || content || cpu */
    display: flex;
    justify-content: space-around;
    margin: 1%;
}
.player{
    /* sets each player to fill 100% of the remaining space */
    flex-grow: 1;

    /* sets the player title above the player board */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.player .title{
    /* Sets the background color for the title div*/
    background-image: var(--board-background);
    background-size: cover;

    /* sets the title to be 100% width and 10% player div height */
    height: 10%;
    align-self: center;
    /* sets padding to 20px */
    max-width: 350px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    /* positions title */
    display: flex;
    justify-content: center;
    align-items: center;

    /* font color and size */
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}
.player .board{
    /* fills the remaining space with the game board */
    flex-grow: 1;

    /* sets a margin for the game board */

    /* sets padding to 20px */
    padding: 20px;
    
    /* sets board background color */
    background-image: var(--board-background);
    background-size: cover;

    /* sets border */
    border: 2px solid black;
    border-radius: 5px;

    /* positions rows */
    display: flex;
    flex-direction: column;
}
.player .row{
    /* grows each row to fit available space on board div */
    flex-grow: 1;

    display: flex;
}
.player .space{
    border: 2px solid black;
    /* make spaces fill entire row */
    flex-grow: 1;
    height: 100%;
}
.player .space:hover{
    background-color: var(--hover);
}
.player .board .row .ship{
    background-color: gray;
}
.player .board .row .miss{
    background-color: white;
}
.player .board .row .hit{
    background-color: red;
}
.content-center{
    /* sets the background color */
    background-image: var(--board-background);
    background-size: cover;

    /* sets the border style */
    border: 2px solid black;
    border-radius: 5px;
    /* sets the content-center */
    min-width: 100px;
    /* sets margin to match the player board sections */
    margin: 1%;
    /* positions elements in the center*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.content-center .content-alerts{
    margin: 5px;
    height: max-content;
    max-width: 95px;
    /* sets border */
    border-radius: 5px;
    /* align text to the center */
    text-align: center;
    font-size: 12px;
    background-color: azure;
    border: 2px solid black;
    padding: 5px;
}

.content-center .new-game{
    /* sets border */
    border-radius: 5px;

    /* sets button dimensions */
    height: max-content;
    padding: 5px;
    border: 2px solid black;
    width: 60%;
    background-color: azure;
}
.content-center .new-game:hover{
    background-color: var(--hover);
}